<nav class="nav">
  <ul class="list J_nav clearfix" data-count-arr="<%= countArr.toString() %>">

    <% NAV.forEach((item, idx) => { %>

    <%- include('item', { item, idx, curIdx, count: countArr[idx] }) %>

    <% }) %>

  </ul>

  <span class="icon J_bar iconfont icon-hot1"></span>
</nav>
