<nav class="nav">
  <ul class="list J_nav clearfix" data-count-arr="<%= '0' %>">

    <% const { fieldsTotalObject, total } = data %> 

    <% NAV.forEach((item, idx)=> { %>
      <%- include('item', { 
        item, 
        curField: field, 
        fieldTotal: fieldsTotalObject
          ? fieldsTotalObject[item.field] || 0
          : total
      }) %>

    <% }) %>

  </ul>

  <span class="icon J_bar iconfont icon-hot1"></span>
</nav>
