<% const { field, text } = item %>

<li class="item <%= curIdx === idx ? 'cur' : '' %>" data-field="<%= field %>">
  <%= text %>

  <% if (count >= 0) { %>
  <span class="count">(<%= count %>)</span>
  <% } %>
</li>
