<div class="search-wrap clearfix">
  <a href="/" class="lk">
    <i class="iconfont icon-bili"></i>

    <span class="bar">|</span>

    <span class="text">搜索</span>
  </a>

  <div class="search-bd J_search-bd">
    <input type="text" placeholder="搜索点什么吧" class="search" />

    <span class="btn">
      <i class="iconfont icon-search icon"></i>
      搜 索
    </span>
  </div>
</div>
