<div class="top <%= className %>">
  <div class="nav-lk">
    <a href="/" class="logo-wrap">
      <i class="iconfont icon-bili icon"></i>
    </a>

    <div class="box">
      <div class="scroll">
        <p class="text">BW</p>

        <img src="/imgs/text.png" alt="text" />

        <p class="text">BW</p>
      </div>
    </div>
  </div>
</div>
