<div class="my-carousel J_myCarousel">
  <% const carousel = data.data.slice(0, 5) %> 

  <div class="car-list-wrap">
    <ul class="car-list">
      <%- include('list', { carousel }) %>
    </ul>

    <%- include('btn') %>

    <div class="car-indicators J_carIndicators">
      <%- include('indicator', { carousel }) %>
    </div>
  </div>
</div>
