@import 'mixins.scss';

.first {
	position: relative;
	margin-top: 20px;
	height: 220px;
	overflow: hidden;

	.my-carousel {
		position: absolute;
		top: 0;
		left: 0;
	}

	.record-wrap {
		padding-left: 570px;

		.list {
			.item {
				position: relative;
				float: left;
				width: 185px;
				margin: 0 10px 10px 0;
				overflow: hidden;

				&:nth-of-type(4n) {
					margin-right: 0;
				}

				&:nth-of-type(n + 4) {
					margin-bottom: 0;
				}

				.img-wrap {
					overflow: hidden;
				}

				.mask-wrap-default {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(180deg, transparent, rgb(1 1 1 / 30%));
					transition: all 0.3s;
				}

				.mask-wrap {
					position: absolute;
					top: 74px;
					left: 0;
					width: 100%;
					height: 100%;
					color: #fff;
					padding: 10px;
					transition: top 0.2s;

					.cell {
						@include ellipsis();
						margin-top: 12px;

						&:first-child {
							margin-top: 0;
						}
					}

					.title {
						line-height: 15px;
						height: 30px;
						font-weight: bold;
						color: #eee;
					}

					.up-wrap,
					.play {
						font-size: 12px;
						line-height: 16px;
					}

					.up {
						border: 1px solid;
						border-radius: 5px;
						padding: 0 2px;
						font-size: 10px;
					}
				}

				&:hover {
					img {
						transition: transform 0.5s;
						transform: scale(1.05);
					}

					.title {
						@include ellipsis-m(2);
						white-space: normal;
						color: #fff;
					}

					.mask-wrap-default {
						background: linear-gradient(
							180deg,
							rgb(1 1 1 / 80%),
							rgb(1 1 1 / 40%)
						);
					}

					.mask-wrap {
						top: 0;
					}
				}
			}
		}
	}
}
