.header {
  position: relative;
  height: 9.35%;
  min-height: 155px;
  overflow: hidden;

  .logo-wrap {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 162px;
    height: 47%;
    min-height: 60px;
  }

  .banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://i0.hdslb.com/bfs/archive/22650682fd25a4a5aa96dd9ef53190c6b8d54912.png');
    background-position: center 0;
    background-size: cover;
  }

  .false-search-wrap {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 50%;
    height: 35px;
    width: 340px;
    transform: translateX(-50%);
    background-color: #fff;

    .search {
      width: 305px;
      height: 100%;
      text-indent: 8px;
    }

    .btn {
      float: right;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      background-color: #f1f1f1;
      cursor: pointer;

      &:hover {
        .icon {
          font-size: 22px;
          transform: rotate(90deg);
          transition: font-size 0.5s;
        }
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.15),
      transparent,
      transparent
    );
  }
}
