._404 {
  background-color: #f1f1f1;

  .not-found {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    width: 280px;
    color: #999;
    text-align: center;

    .num {
      padding-right: 20px;
      border-right: 1px solid;
      margin-right: 12px;
    }
  }
}

.not-found {
  width: 600px;
  margin: 50px auto;
}
