<% const { img, href, title } = item %>

<a href="<%= href %> " target="_blank" class="item">

  <div class="img-wrap">
    <img data-src="<%= img %> " src="/imgs/lazy.gif" alt="图片" />
  </div>

  <p class="text"><%= title %> </p>
</a>
